<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand1266000000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1417},{40,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,83}}</string>
                <key>sourceSize</key>
                <string>{40,83}</string>
            </dict>
            <key>stand1266000001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1334},{40,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,83}}</string>
                <key>sourceSize</key>
                <string>{40,83}</string>
            </dict>
            <key>stand1266000002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1251},{40,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,83}}</string>
                <key>sourceSize</key>
                <string>{40,83}</string>
            </dict>
            <key>stand1266000003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1334},{40,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,83}}</string>
                <key>sourceSize</key>
                <string>{40,83}</string>
            </dict>
            <key>stand1266100000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{41,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,79}}</string>
                <key>sourceSize</key>
                <string>{41,79}</string>
            </dict>
            <key>stand1266100001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,325},{41,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,79}}</string>
                <key>sourceSize</key>
                <string>{41,79}</string>
            </dict>
            <key>stand1266100002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{41,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,79}}</string>
                <key>sourceSize</key>
                <string>{41,79}</string>
            </dict>
            <key>stand1266100003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,325},{41,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,79}}</string>
                <key>sourceSize</key>
                <string>{41,79}</string>
            </dict>
            <key>stand1266200000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1168},{40,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,83}}</string>
                <key>sourceSize</key>
                <string>{40,83}</string>
            </dict>
            <key>stand1266200001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1085},{40,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,83}}</string>
                <key>sourceSize</key>
                <string>{40,83}</string>
            </dict>
            <key>stand1266200002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1002},{40,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,83}}</string>
                <key>sourceSize</key>
                <string>{40,83}</string>
            </dict>
            <key>stand1266200003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1085},{40,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,83}}</string>
                <key>sourceSize</key>
                <string>{40,83}</string>
            </dict>
            <key>stand1266300000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1929},{28,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,87}}</string>
                <key>sourceSize</key>
                <string>{28,87}</string>
            </dict>
            <key>stand1266300001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1842},{28,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,87}}</string>
                <key>sourceSize</key>
                <string>{28,87}</string>
            </dict>
            <key>stand1266300002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1755},{28,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,87}}</string>
                <key>sourceSize</key>
                <string>{28,87}</string>
            </dict>
            <key>stand1266300003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1842},{28,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,87}}</string>
                <key>sourceSize</key>
                <string>{28,87}</string>
            </dict>
            <key>stand1266400000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,657},{40,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,87}}</string>
                <key>sourceSize</key>
                <string>{40,87}</string>
            </dict>
            <key>stand1266400001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,570},{40,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,87}}</string>
                <key>sourceSize</key>
                <string>{40,87}</string>
            </dict>
            <key>stand1266400002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,483},{40,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,87}}</string>
                <key>sourceSize</key>
                <string>{40,87}</string>
            </dict>
            <key>stand1266400003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,570},{40,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,87}}</string>
                <key>sourceSize</key>
                <string>{40,87}</string>
            </dict>
            <key>stand1266500000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{41,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,82}}</string>
                <key>sourceSize</key>
                <string>{41,82}</string>
            </dict>
            <key>stand1266500001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{41,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,82}}</string>
                <key>sourceSize</key>
                <string>{41,82}</string>
            </dict>
            <key>stand1266500002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{41,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,82}}</string>
                <key>sourceSize</key>
                <string>{41,82}</string>
            </dict>
            <key>stand1266500003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{41,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,82}}</string>
                <key>sourceSize</key>
                <string>{41,82}</string>
            </dict>
            <key>stand1266600000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,916},{40,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,86}}</string>
                <key>sourceSize</key>
                <string>{40,86}</string>
            </dict>
            <key>stand1266600001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,830},{40,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,86}}</string>
                <key>sourceSize</key>
                <string>{40,86}</string>
            </dict>
            <key>stand1266600002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,744},{40,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,86}}</string>
                <key>sourceSize</key>
                <string>{40,86}</string>
            </dict>
            <key>stand1266600003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,830},{40,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,86}}</string>
                <key>sourceSize</key>
                <string>{40,86}</string>
            </dict>
            <key>stand1266700000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1670},{32,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,85}}</string>
                <key>sourceSize</key>
                <string>{32,85}</string>
            </dict>
            <key>stand1266700001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1585},{32,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,85}}</string>
                <key>sourceSize</key>
                <string>{32,85}</string>
            </dict>
            <key>stand1266700002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1500},{32,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,85}}</string>
                <key>sourceSize</key>
                <string>{32,85}</string>
            </dict>
            <key>stand1266700003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1585},{32,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,85}}</string>
                <key>sourceSize</key>
                <string>{32,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero100.png</string>
            <key>size</key>
            <string>{41,2016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:691bc444c4768f1e7d27a0b85a1faee2:1/1$</string>
            <key>textureFileName</key>
            <string>hero100.png</string>
        </dict>
    </dict>
</plist>
