<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand1554000000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{40,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,82}}</string>
                <key>sourceSize</key>
                <string>{40,82}</string>
            </dict>
            <key>stand1554000001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{40,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,82}}</string>
                <key>sourceSize</key>
                <string>{40,82}</string>
            </dict>
            <key>stand1554000002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{40,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,82}}</string>
                <key>sourceSize</key>
                <string>{40,82}</string>
            </dict>
            <key>stand1554000003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{40,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,82}}</string>
                <key>sourceSize</key>
                <string>{40,82}</string>
            </dict>
            <key>stand1554100000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1366},{36,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,80}}</string>
                <key>sourceSize</key>
                <string>{36,80}</string>
            </dict>
            <key>stand1554100001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1286},{36,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,80}}</string>
                <key>sourceSize</key>
                <string>{36,80}</string>
            </dict>
            <key>stand1554100002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1206},{36,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,80}}</string>
                <key>sourceSize</key>
                <string>{36,80}</string>
            </dict>
            <key>stand1554100003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1286},{36,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,80}}</string>
                <key>sourceSize</key>
                <string>{36,80}</string>
            </dict>
            <key>stand1554200000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,651},{40,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,81}}</string>
                <key>sourceSize</key>
                <string>{40,81}</string>
            </dict>
            <key>stand1554200001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,570},{40,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,81}}</string>
                <key>sourceSize</key>
                <string>{40,81}</string>
            </dict>
            <key>stand1554200002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,489},{40,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,81}}</string>
                <key>sourceSize</key>
                <string>{40,81}</string>
            </dict>
            <key>stand1554200003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,570},{40,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,81}}</string>
                <key>sourceSize</key>
                <string>{40,81}</string>
            </dict>
            <key>stand1554300000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1126},{36,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,80}}</string>
                <key>sourceSize</key>
                <string>{36,80}</string>
            </dict>
            <key>stand1554300001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1046},{36,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,80}}</string>
                <key>sourceSize</key>
                <string>{36,80}</string>
            </dict>
            <key>stand1554300002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,966},{36,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,80}}</string>
                <key>sourceSize</key>
                <string>{36,80}</string>
            </dict>
            <key>stand1554300003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1046},{36,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,80}}</string>
                <key>sourceSize</key>
                <string>{36,80}</string>
            </dict>
            <key>stand1554400000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,408},{40,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,81}}</string>
                <key>sourceSize</key>
                <string>{40,81}</string>
            </dict>
            <key>stand1554400001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,327},{40,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,81}}</string>
                <key>sourceSize</key>
                <string>{40,81}</string>
            </dict>
            <key>stand1554400002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{40,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,81}}</string>
                <key>sourceSize</key>
                <string>{40,81}</string>
            </dict>
            <key>stand1554400003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,327},{40,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,81}}</string>
                <key>sourceSize</key>
                <string>{40,81}</string>
            </dict>
            <key>stand1554500000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1602},{36,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,78}}</string>
                <key>sourceSize</key>
                <string>{36,78}</string>
            </dict>
            <key>stand1554500001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1524},{36,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,78}}</string>
                <key>sourceSize</key>
                <string>{36,78}</string>
            </dict>
            <key>stand1554500002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1446},{36,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,78}}</string>
                <key>sourceSize</key>
                <string>{36,78}</string>
            </dict>
            <key>stand1554500003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1524},{36,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,78}}</string>
                <key>sourceSize</key>
                <string>{36,78}</string>
            </dict>
            <key>stand1554600000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,888},{40,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,78}}</string>
                <key>sourceSize</key>
                <string>{40,78}</string>
            </dict>
            <key>stand1554600001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,810},{40,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,78}}</string>
                <key>sourceSize</key>
                <string>{40,78}</string>
            </dict>
            <key>stand1554600002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,732},{40,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,78}}</string>
                <key>sourceSize</key>
                <string>{40,78}</string>
            </dict>
            <key>stand1554600003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,810},{40,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,78}}</string>
                <key>sourceSize</key>
                <string>{40,78}</string>
            </dict>
            <key>stand1554700000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1840},{32,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,80}}</string>
                <key>sourceSize</key>
                <string>{32,80}</string>
            </dict>
            <key>stand1554700001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1760},{32,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,80}}</string>
                <key>sourceSize</key>
                <string>{32,80}</string>
            </dict>
            <key>stand1554700002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1680},{32,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,80}}</string>
                <key>sourceSize</key>
                <string>{32,80}</string>
            </dict>
            <key>stand1554700003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1760},{32,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,80}}</string>
                <key>sourceSize</key>
                <string>{32,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero000.png</string>
            <key>size</key>
            <string>{40,1920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b404ac172bcf215322dca183acf45f05:1/1$</string>
            <key>textureFileName</key>
            <string>hero000.png</string>
        </dict>
    </dict>
</plist>
