<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walk1554001000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{205,170},{41,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,83}}</string>
                <key>sourceSize</key>
                <string>{41,83}</string>
            </dict>
            <key>walk1554001001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{164,170},{41,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,83}}</string>
                <key>sourceSize</key>
                <string>{41,83}</string>
            </dict>
            <key>walk1554001002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{123,170},{41,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,83}}</string>
                <key>sourceSize</key>
                <string>{41,83}</string>
            </dict>
            <key>walk1554001003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{82,170},{41,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,83}}</string>
                <key>sourceSize</key>
                <string>{41,83}</string>
            </dict>
            <key>walk1554001004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{41,170},{41,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,83}}</string>
                <key>sourceSize</key>
                <string>{41,83}</string>
            </dict>
            <key>walk1554001005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{41,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,83}}</string>
                <key>sourceSize</key>
                <string>{41,83}</string>
            </dict>
            <key>walk1554101000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{364,166},{38,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,83}}</string>
                <key>sourceSize</key>
                <string>{38,83}</string>
            </dict>
            <key>walk1554101001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{364,83},{38,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,83}}</string>
                <key>sourceSize</key>
                <string>{38,83}</string>
            </dict>
            <key>walk1554101002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{38,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,83}}</string>
                <key>sourceSize</key>
                <string>{38,83}</string>
            </dict>
            <key>walk1554101003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{326,166},{38,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,83}}</string>
                <key>sourceSize</key>
                <string>{38,83}</string>
            </dict>
            <key>walk1554101004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{326,83},{38,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,83}}</string>
                <key>sourceSize</key>
                <string>{38,83}</string>
            </dict>
            <key>walk1554101005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{326,0},{38,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,83}}</string>
                <key>sourceSize</key>
                <string>{38,83}</string>
            </dict>
            <key>walk1554201000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{286,166},{40,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,83}}</string>
                <key>sourceSize</key>
                <string>{40,83}</string>
            </dict>
            <key>walk1554201001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{286,83},{40,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,83}}</string>
                <key>sourceSize</key>
                <string>{40,83}</string>
            </dict>
            <key>walk1554201002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{286,0},{40,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,83}}</string>
                <key>sourceSize</key>
                <string>{40,83}</string>
            </dict>
            <key>walk1554201003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{246,166},{40,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,83}}</string>
                <key>sourceSize</key>
                <string>{40,83}</string>
            </dict>
            <key>walk1554201004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{246,83},{40,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,83}}</string>
                <key>sourceSize</key>
                <string>{40,83}</string>
            </dict>
            <key>walk1554201005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{246,0},{40,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,83}}</string>
                <key>sourceSize</key>
                <string>{40,83}</string>
            </dict>
            <key>walk1554301000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{402,82},{41,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,82}}</string>
                <key>sourceSize</key>
                <string>{41,82}</string>
            </dict>
            <key>walk1554301001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{484,41},{41,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,82}}</string>
                <key>sourceSize</key>
                <string>{41,82}</string>
            </dict>
            <key>walk1554301002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{402,41},{41,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,82}}</string>
                <key>sourceSize</key>
                <string>{41,82}</string>
            </dict>
            <key>walk1554301003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{566,0},{41,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,82}}</string>
                <key>sourceSize</key>
                <string>{41,82}</string>
            </dict>
            <key>walk1554301004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{484,0},{41,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,82}}</string>
                <key>sourceSize</key>
                <string>{41,82}</string>
            </dict>
            <key>walk1554301005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{41,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,82}}</string>
                <key>sourceSize</key>
                <string>{41,82}</string>
            </dict>
            <key>walk1554401000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{205,85},{41,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,85}}</string>
                <key>sourceSize</key>
                <string>{41,85}</string>
            </dict>
            <key>walk1554401001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{205,0},{41,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,85}}</string>
                <key>sourceSize</key>
                <string>{41,85}</string>
            </dict>
            <key>walk1554401002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{164,85},{41,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,85}}</string>
                <key>sourceSize</key>
                <string>{41,85}</string>
            </dict>
            <key>walk1554401003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{41,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,85}}</string>
                <key>sourceSize</key>
                <string>{41,85}</string>
            </dict>
            <key>walk1554401004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{123,85},{41,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,85}}</string>
                <key>sourceSize</key>
                <string>{41,85}</string>
            </dict>
            <key>walk1554401005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{123,0},{41,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,85}}</string>
                <key>sourceSize</key>
                <string>{41,85}</string>
            </dict>
            <key>walk1554501000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{562,201},{37,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,82}}</string>
                <key>sourceSize</key>
                <string>{37,82}</string>
            </dict>
            <key>walk1554501001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{597,82},{37,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,82}}</string>
                <key>sourceSize</key>
                <string>{37,82}</string>
            </dict>
            <key>walk1554501002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{562,164},{37,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,82}}</string>
                <key>sourceSize</key>
                <string>{37,82}</string>
            </dict>
            <key>walk1554501003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{560,82},{37,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,82}}</string>
                <key>sourceSize</key>
                <string>{37,82}</string>
            </dict>
            <key>walk1554501004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{523,82},{37,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,82}}</string>
                <key>sourceSize</key>
                <string>{37,82}</string>
            </dict>
            <key>walk1554501005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{607,0},{37,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,82}}</string>
                <key>sourceSize</key>
                <string>{37,82}</string>
            </dict>
            <key>walk1554601000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{82,85},{41,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,85}}</string>
                <key>sourceSize</key>
                <string>{41,85}</string>
            </dict>
            <key>walk1554601001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{82,0},{41,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,85}}</string>
                <key>sourceSize</key>
                <string>{41,85}</string>
            </dict>
            <key>walk1554601002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{41,85},{41,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,85}}</string>
                <key>sourceSize</key>
                <string>{41,85}</string>
            </dict>
            <key>walk1554601003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{41,0},{41,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,85}}</string>
                <key>sourceSize</key>
                <string>{41,85}</string>
            </dict>
            <key>walk1554601004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,85},{41,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,85}}</string>
                <key>sourceSize</key>
                <string>{41,85}</string>
            </dict>
            <key>walk1554601005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{41,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,85}}</string>
                <key>sourceSize</key>
                <string>{41,85}</string>
            </dict>
            <key>walk1554701000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{522,164},{40,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,82}}</string>
                <key>sourceSize</key>
                <string>{40,82}</string>
            </dict>
            <key>walk1554701001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{483,82},{40,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,82}}</string>
                <key>sourceSize</key>
                <string>{40,82}</string>
            </dict>
            <key>walk1554701002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{482,164},{40,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,82}}</string>
                <key>sourceSize</key>
                <string>{40,82}</string>
            </dict>
            <key>walk1554701003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{443,82},{40,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,82}}</string>
                <key>sourceSize</key>
                <string>{40,82}</string>
            </dict>
            <key>walk1554701004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{442,164},{40,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,82}}</string>
                <key>sourceSize</key>
                <string>{40,82}</string>
            </dict>
            <key>walk1554701005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{402,164},{40,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,82}}</string>
                <key>sourceSize</key>
                <string>{40,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero001.png</string>
            <key>size</key>
            <string>{644,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7c204fd1cb11295c30bbc00dadc07cc:1/1$</string>
            <key>textureFileName</key>
            <string>hero001.png</string>
        </dict>
    </dict>
</plist>
