<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand1170000000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,887},{41,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,79}}</string>
                <key>sourceSize</key>
                <string>{41,79}</string>
            </dict>
            <key>stand1170000001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,808},{41,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,79}}</string>
                <key>sourceSize</key>
                <string>{41,79}</string>
            </dict>
            <key>stand1170000002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,887},{41,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,79}}</string>
                <key>sourceSize</key>
                <string>{41,79}</string>
            </dict>
            <key>stand1170000003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,729},{41,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,79}}</string>
                <key>sourceSize</key>
                <string>{41,79}</string>
            </dict>
            <key>stand1170100000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1347},{41,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,75}}</string>
                <key>sourceSize</key>
                <string>{41,75}</string>
            </dict>
            <key>stand1170100001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1272},{41,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,75}}</string>
                <key>sourceSize</key>
                <string>{41,75}</string>
            </dict>
            <key>stand1170100002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1347},{41,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,75}}</string>
                <key>sourceSize</key>
                <string>{41,75}</string>
            </dict>
            <key>stand1170100003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1197},{41,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,75}}</string>
                <key>sourceSize</key>
                <string>{41,75}</string>
            </dict>
            <key>stand1170200000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{43,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,79}}</string>
                <key>sourceSize</key>
                <string>{43,79}</string>
            </dict>
            <key>stand1170200001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,325},{43,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,79}}</string>
                <key>sourceSize</key>
                <string>{43,79}</string>
            </dict>
            <key>stand1170200002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{43,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,79}}</string>
                <key>sourceSize</key>
                <string>{43,79}</string>
            </dict>
            <key>stand1170200003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{43,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,79}}</string>
                <key>sourceSize</key>
                <string>{43,79}</string>
            </dict>
            <key>stand1170300000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1584},{36,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,81}}</string>
                <key>sourceSize</key>
                <string>{36,81}</string>
            </dict>
            <key>stand1170300001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1503},{36,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,81}}</string>
                <key>sourceSize</key>
                <string>{36,81}</string>
            </dict>
            <key>stand1170300002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1584},{36,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,81}}</string>
                <key>sourceSize</key>
                <string>{36,81}</string>
            </dict>
            <key>stand1170300003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1422},{36,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,81}}</string>
                <key>sourceSize</key>
                <string>{36,81}</string>
            </dict>
            <key>stand1170400000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{43,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,82}}</string>
                <key>sourceSize</key>
                <string>{43,82}</string>
            </dict>
            <key>stand1170400001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{43,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,82}}</string>
                <key>sourceSize</key>
                <string>{43,82}</string>
            </dict>
            <key>stand1170400002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{43,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,82}}</string>
                <key>sourceSize</key>
                <string>{43,82}</string>
            </dict>
            <key>stand1170400003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{43,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,82}}</string>
                <key>sourceSize</key>
                <string>{43,82}</string>
            </dict>
            <key>stand1170500000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1120},{41,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,77}}</string>
                <key>sourceSize</key>
                <string>{41,77}</string>
            </dict>
            <key>stand1170500001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1043},{41,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,77}}</string>
                <key>sourceSize</key>
                <string>{41,77}</string>
            </dict>
            <key>stand1170500002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1120},{41,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,77}}</string>
                <key>sourceSize</key>
                <string>{41,77}</string>
            </dict>
            <key>stand1170500003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,966},{41,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,77}}</string>
                <key>sourceSize</key>
                <string>{41,77}</string>
            </dict>
            <key>stand1170600000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,647},{41,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,82}}</string>
                <key>sourceSize</key>
                <string>{41,82}</string>
            </dict>
            <key>stand1170600001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,565},{41,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,82}}</string>
                <key>sourceSize</key>
                <string>{41,82}</string>
            </dict>
            <key>stand1170600002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,647},{41,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,82}}</string>
                <key>sourceSize</key>
                <string>{41,82}</string>
            </dict>
            <key>stand1170600003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,483},{41,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,82}}</string>
                <key>sourceSize</key>
                <string>{41,82}</string>
            </dict>
            <key>stand1170700000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1829},{33,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,82}}</string>
                <key>sourceSize</key>
                <string>{33,82}</string>
            </dict>
            <key>stand1170700001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1747},{33,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,82}}</string>
                <key>sourceSize</key>
                <string>{33,82}</string>
            </dict>
            <key>stand1170700002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1829},{33,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,82}}</string>
                <key>sourceSize</key>
                <string>{33,82}</string>
            </dict>
            <key>stand1170700003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1665},{33,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,82}}</string>
                <key>sourceSize</key>
                <string>{33,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero200.png</string>
            <key>size</key>
            <string>{43,1911}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4e39ad9b7a71f23cc4a23eb3328afdd:1/1$</string>
            <key>textureFileName</key>
            <string>hero200.png</string>
        </dict>
    </dict>
</plist>
