<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walk1266001000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{595,85},{47,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,85}}</string>
                <key>sourceSize</key>
                <string>{47,85}</string>
            </dict>
            <key>walk1266001001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{555,0},{47,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,85}}</string>
                <key>sourceSize</key>
                <string>{47,85}</string>
            </dict>
            <key>walk1266001002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{580,170},{47,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,85}}</string>
                <key>sourceSize</key>
                <string>{47,85}</string>
            </dict>
            <key>walk1266001003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{548,85},{47,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,85}}</string>
                <key>sourceSize</key>
                <string>{47,85}</string>
            </dict>
            <key>walk1266001004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{533,170},{47,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,85}}</string>
                <key>sourceSize</key>
                <string>{47,85}</string>
            </dict>
            <key>walk1266001005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{501,85},{47,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,85}}</string>
                <key>sourceSize</key>
                <string>{47,85}</string>
            </dict>
            <key>walk1266101000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{664,170},{37,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,85}}</string>
                <key>sourceSize</key>
                <string>{37,85}</string>
            </dict>
            <key>walk1266101001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{676,0},{37,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,85}}</string>
                <key>sourceSize</key>
                <string>{37,85}</string>
            </dict>
            <key>walk1266101002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{642,85},{37,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,85}}</string>
                <key>sourceSize</key>
                <string>{37,85}</string>
            </dict>
            <key>walk1266101003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{639,0},{37,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,85}}</string>
                <key>sourceSize</key>
                <string>{37,85}</string>
            </dict>
            <key>walk1266101004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{602,0},{37,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,85}}</string>
                <key>sourceSize</key>
                <string>{37,85}</string>
            </dict>
            <key>walk1266101005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{627,170},{37,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,85}}</string>
                <key>sourceSize</key>
                <string>{37,85}</string>
            </dict>
            <key>walk1266201000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{747,168},{46,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,84}}</string>
                <key>sourceSize</key>
                <string>{46,84}</string>
            </dict>
            <key>walk1266201001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{725,84},{46,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,84}}</string>
                <key>sourceSize</key>
                <string>{46,84}</string>
            </dict>
            <key>walk1266201002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{701,169},{46,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,84}}</string>
                <key>sourceSize</key>
                <string>{46,84}</string>
            </dict>
            <key>walk1266201003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{759,0},{46,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,84}}</string>
                <key>sourceSize</key>
                <string>{46,84}</string>
            </dict>
            <key>walk1266201004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{713,0},{46,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,84}}</string>
                <key>sourceSize</key>
                <string>{46,84}</string>
            </dict>
            <key>walk1266201005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{679,85},{46,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,84}}</string>
                <key>sourceSize</key>
                <string>{46,84}</string>
            </dict>
            <key>walk1266301000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{501,0},{54,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,85}}</string>
                <key>sourceSize</key>
                <string>{54,85}</string>
            </dict>
            <key>walk1266301001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{479,170},{54,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,85}}</string>
                <key>sourceSize</key>
                <string>{54,85}</string>
            </dict>
            <key>walk1266301002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{447,85},{54,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,85}}</string>
                <key>sourceSize</key>
                <string>{54,85}</string>
            </dict>
            <key>walk1266301003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{447,0},{54,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,85}}</string>
                <key>sourceSize</key>
                <string>{54,85}</string>
            </dict>
            <key>walk1266301004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{425,170},{54,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,85}}</string>
                <key>sourceSize</key>
                <string>{54,85}</string>
            </dict>
            <key>walk1266301005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{393,85},{54,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,85}}</string>
                <key>sourceSize</key>
                <string>{54,85}</string>
            </dict>
            <key>walk1266401000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{90,91},{45,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,91}}</string>
                <key>sourceSize</key>
                <string>{45,91}</string>
            </dict>
            <key>walk1266401001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{90,0},{45,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,91}}</string>
                <key>sourceSize</key>
                <string>{45,91}</string>
            </dict>
            <key>walk1266401002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{45,91},{45,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,91}}</string>
                <key>sourceSize</key>
                <string>{45,91}</string>
            </dict>
            <key>walk1266401003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{45,0},{45,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,91}}</string>
                <key>sourceSize</key>
                <string>{45,91}</string>
            </dict>
            <key>walk1266401004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,91},{45,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,91}}</string>
                <key>sourceSize</key>
                <string>{45,91}</string>
            </dict>
            <key>walk1266401005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{45,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,91}}</string>
                <key>sourceSize</key>
                <string>{45,91}</string>
            </dict>
            <key>walk1266501000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{209,91},{37,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,91}}</string>
                <key>sourceSize</key>
                <string>{37,91}</string>
            </dict>
            <key>walk1266501001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{209,0},{37,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,91}}</string>
                <key>sourceSize</key>
                <string>{37,91}</string>
            </dict>
            <key>walk1266501002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{172,91},{37,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,91}}</string>
                <key>sourceSize</key>
                <string>{37,91}</string>
            </dict>
            <key>walk1266501003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{37,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,91}}</string>
                <key>sourceSize</key>
                <string>{37,91}</string>
            </dict>
            <key>walk1266501004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{135,91},{37,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,91}}</string>
                <key>sourceSize</key>
                <string>{37,91}</string>
            </dict>
            <key>walk1266501005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{135,0},{37,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,91}}</string>
                <key>sourceSize</key>
                <string>{37,91}</string>
            </dict>
            <key>walk1266601000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{344,90},{49,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,90}}</string>
                <key>sourceSize</key>
                <string>{49,90}</string>
            </dict>
            <key>walk1266601001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{344,0},{49,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,90}}</string>
                <key>sourceSize</key>
                <string>{49,90}</string>
            </dict>
            <key>walk1266601002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{295,90},{49,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,90}}</string>
                <key>sourceSize</key>
                <string>{49,90}</string>
            </dict>
            <key>walk1266601003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{295,0},{49,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,90}}</string>
                <key>sourceSize</key>
                <string>{49,90}</string>
            </dict>
            <key>walk1266601004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{246,90},{49,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,90}}</string>
                <key>sourceSize</key>
                <string>{49,90}</string>
            </dict>
            <key>walk1266601005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{246,0},{49,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,90}}</string>
                <key>sourceSize</key>
                <string>{49,90}</string>
            </dict>
            <key>walk1266701000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{393,0},{54,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,85}}</string>
                <key>sourceSize</key>
                <string>{54,85}</string>
            </dict>
            <key>walk1266701001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{340,180},{54,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,85}}</string>
                <key>sourceSize</key>
                <string>{54,85}</string>
            </dict>
            <key>walk1266701002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{255,180},{54,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,85}}</string>
                <key>sourceSize</key>
                <string>{54,85}</string>
            </dict>
            <key>walk1266701003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{170,182},{54,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,85}}</string>
                <key>sourceSize</key>
                <string>{54,85}</string>
            </dict>
            <key>walk1266701004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{85,182},{54,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,85}}</string>
                <key>sourceSize</key>
                <string>{54,85}</string>
            </dict>
            <key>walk1266701005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,182},{54,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,85}}</string>
                <key>sourceSize</key>
                <string>{54,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero101.png</string>
            <key>size</key>
            <string>{805,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc3aab32e63495c5598058673caeba09:1/1$</string>
            <key>textureFileName</key>
            <string>hero101.png</string>
        </dict>
    </dict>
</plist>
