<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walk1170001000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1462},{58,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
            <key>walk1170001001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1382},{58,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
            <key>walk1170001002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1302},{58,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
            <key>walk1170001003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1222},{58,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
            <key>walk1170001004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1142},{58,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
            <key>walk1170001005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1062},{58,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
            <key>walk1170101000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{60,1880},{45,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,76}}</string>
                <key>sourceSize</key>
                <string>{45,76}</string>
            </dict>
            <key>walk1170101001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{60,1804},{45,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,76}}</string>
                <key>sourceSize</key>
                <string>{45,76}</string>
            </dict>
            <key>walk1170101002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{60,1728},{45,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,76}}</string>
                <key>sourceSize</key>
                <string>{45,76}</string>
            </dict>
            <key>walk1170101003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{60,1652},{45,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,76}}</string>
                <key>sourceSize</key>
                <string>{45,76}</string>
            </dict>
            <key>walk1170101004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{60,1576},{45,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,76}}</string>
                <key>sourceSize</key>
                <string>{45,76}</string>
            </dict>
            <key>walk1170101005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{60,1500},{45,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,76}}</string>
                <key>sourceSize</key>
                <string>{45,76}</string>
            </dict>
            <key>walk1170201000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{58,400},{57,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,80}}</string>
                <key>sourceSize</key>
                <string>{57,80}</string>
            </dict>
            <key>walk1170201001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{58,320},{57,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,80}}</string>
                <key>sourceSize</key>
                <string>{57,80}</string>
            </dict>
            <key>walk1170201002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{58,240},{57,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,80}}</string>
                <key>sourceSize</key>
                <string>{57,80}</string>
            </dict>
            <key>walk1170201003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{58,160},{57,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,80}}</string>
                <key>sourceSize</key>
                <string>{57,80}</string>
            </dict>
            <key>walk1170201004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{58,80},{57,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,80}}</string>
                <key>sourceSize</key>
                <string>{57,80}</string>
            </dict>
            <key>walk1170201005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{57,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,80}}</string>
                <key>sourceSize</key>
                <string>{57,80}</string>
            </dict>
            <key>walk1170301000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{58,875},{56,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,79}}</string>
                <key>sourceSize</key>
                <string>{56,79}</string>
            </dict>
            <key>walk1170301001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{58,796},{56,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,79}}</string>
                <key>sourceSize</key>
                <string>{56,79}</string>
            </dict>
            <key>walk1170301002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{58,717},{56,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,79}}</string>
                <key>sourceSize</key>
                <string>{56,79}</string>
            </dict>
            <key>walk1170301003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{58,638},{56,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,79}}</string>
                <key>sourceSize</key>
                <string>{56,79}</string>
            </dict>
            <key>walk1170301004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{58,559},{56,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,79}}</string>
                <key>sourceSize</key>
                <string>{56,79}</string>
            </dict>
            <key>walk1170301005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{58,480},{56,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,79}}</string>
                <key>sourceSize</key>
                <string>{56,79}</string>
            </dict>
            <key>walk1170401000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,445},{58,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,89}}</string>
                <key>sourceSize</key>
                <string>{58,89}</string>
            </dict>
            <key>walk1170401001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,356},{58,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,89}}</string>
                <key>sourceSize</key>
                <string>{58,89}</string>
            </dict>
            <key>walk1170401002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,267},{58,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,89}}</string>
                <key>sourceSize</key>
                <string>{58,89}</string>
            </dict>
            <key>walk1170401003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{58,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,89}}</string>
                <key>sourceSize</key>
                <string>{58,89}</string>
            </dict>
            <key>walk1170401004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,89},{58,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,89}}</string>
                <key>sourceSize</key>
                <string>{58,89}</string>
            </dict>
            <key>walk1170401005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,89}}</string>
                <key>sourceSize</key>
                <string>{58,89}</string>
            </dict>
            <key>walk1170501000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{58,1409},{43,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,91}}</string>
                <key>sourceSize</key>
                <string>{43,91}</string>
            </dict>
            <key>walk1170501001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{58,1318},{43,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,91}}</string>
                <key>sourceSize</key>
                <string>{43,91}</string>
            </dict>
            <key>walk1170501002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{58,1227},{43,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,91}}</string>
                <key>sourceSize</key>
                <string>{43,91}</string>
            </dict>
            <key>walk1170501003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{58,1136},{43,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,91}}</string>
                <key>sourceSize</key>
                <string>{43,91}</string>
            </dict>
            <key>walk1170501004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{58,1045},{43,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,91}}</string>
                <key>sourceSize</key>
                <string>{43,91}</string>
            </dict>
            <key>walk1170501005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{58,954},{43,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,91}}</string>
                <key>sourceSize</key>
                <string>{43,91}</string>
            </dict>
            <key>walk1170601000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,974},{58,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,88}}</string>
                <key>sourceSize</key>
                <string>{58,88}</string>
            </dict>
            <key>walk1170601001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,886},{58,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,88}}</string>
                <key>sourceSize</key>
                <string>{58,88}</string>
            </dict>
            <key>walk1170601002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,798},{58,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,88}}</string>
                <key>sourceSize</key>
                <string>{58,88}</string>
            </dict>
            <key>walk1170601003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,710},{58,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,88}}</string>
                <key>sourceSize</key>
                <string>{58,88}</string>
            </dict>
            <key>walk1170601004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,622},{58,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,88}}</string>
                <key>sourceSize</key>
                <string>{58,88}</string>
            </dict>
            <key>walk1170601005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,534},{58,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,88}}</string>
                <key>sourceSize</key>
                <string>{58,88}</string>
            </dict>
            <key>walk1170701000.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1937},{60,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,79}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>walk1170701001.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1858},{60,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,79}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>walk1170701002.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1779},{60,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,79}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>walk1170701003.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1700},{60,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,79}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>walk1170701004.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1621},{60,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,79}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>walk1170701005.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1542},{60,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,79}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero201.png</string>
            <key>size</key>
            <string>{115,2016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4e40dabe3e9290c1ef9b395d2f9da21:1/1$</string>
            <key>textureFileName</key>
            <string>hero201.png</string>
        </dict>
    </dict>
</plist>
